* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
  color: #dcdcdc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #0f0f0f;
}

/* ----------------------------------------------------- */
/*    */
/* ----------------------------------------------------- */
