html {
  scroll-behavior: smooth;
  /* BOX SIZING: SIEHE https://css-tricks.com/box-sizing/ */
  /* color-scheme: dark light; */

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  /* ----------------------------------------------------------------------
      GOOGLE FONTS
---------------------------------------------------------------------- */

  /* ALTERNATIV: GFonts über CSS einbinden
  @import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:wght@100;400;700&family=Poppins:wght@100;300;700&family=Roboto+Slab:wght@100;400;700&family=Roboto:wght@100;400;700&family=Source+Code+Pro:wght@200;400;700&display=swap"); */
  font-family: "Bruno Ace SC",
  cursive;

  .font--serif {
    font-family: "Roboto Slab", serif;
  }

  .font--sans-serif {
    font-family: "Montserrat", sans-serif;
  }

  .font--monospace {
    font-family: "Source Code Pro", monospace;
  }

  .font--roboto {
    font-family: "Roboto", sans-serif;
  }

  .font--poppins {
    font-family: "Poppins", sans-serif;
  }

}

/* ----------------------------------------------------------------------
     BODY
---------------------------------------------------------------------- */
body {
  /* overflow: hidden; */
  overflow: scroll;
  /* z.B. PREFACE: Text sprengt flexbox nicht, einfach runterscrollen */

  /* BOX SIZING: SIEHE https://css-tricks.com/box-sizing/ */
  box-sizing: border-box;
  /* *,
  *:before,
  *:after {
    box-sizing: inherit;
  } */
  /* background-color: rgba(123, 122, 122, 0.5); */
  background-color: rgba(123, 122, 122, 0.8);
  background-color: #262626;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;

  /* font-family: "Poppins", sans-serif; */

  /* margin: 20px; */
  /* padding: 20px; */
}



/* -------------------- BORDER FÜR ALLE ---------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* border: 2px solid #ff4a11; */
  line-height: 1.5em;
}

div,
section {
  /* border: 5px solid rgb(0, 255, 255); */
  /* min-height: 100vh; */
}

.fullsize,
.section-fullsize {
  padding-top: 35px;
  /* border: 6px solid yellow; */
  min-height: 100vh;
}

/* section {
      min-height: 100vh;
  } */
/* ----------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: bold;
  letter-spacing: 0.18em;
  text-shadow: 0em 0em 0.4em rgba(255, 255, 255, 0.6);
}

h1 {
  font-size: 70px;
}

h2 {
  /* font-family: "Poppins", sans-serif; */
  color: rgb(255, 255, 255, 0.8);
  text-align: center;
  font-size: 40px;
  /* font-weight: bold; */
  /* letter-spacing: 0.18 em; */
  /* line-height: 1.4em; */
  /* text-shadow: 0em 0em 0.4em rgba(255, 255, 255, 0.6); */
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
  margin: 35px;
}

p {
  /* color: rgb(255, 255, 255, 0.8); */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding: 10px;
  margin: 35px;
}

.p-white {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-shadow: 0em 0em 0.2em rgba(255, 255, 255, 0.6);
  color: rgb(255, 255, 255, 0.8);
  padding: 10px;
  margin: 35px;
}


.p-left {
  text-align: left;
}

.p-right {
  text-align: right;
}


/* ----------------------------------------------------------------------
NAVIGATION MAIN
---------------------------------------------------------------------- */

.nav-main {
  /* overflow: hidden; */
  /* VERDAMMT; ENDLICH:*/
  min-width: 100vw;
  /* width: auto; */
  background-color: #26262643;
  /* background-color: transparent; */
  /* margin: 10px; */
  margin-top: -50px;
  /* display: flex; */
  justify-content: baseline;
  /* margin-bottom: 100px; */
  padding: 10px 35px;
  position: fixed;
  /* position: sticky; */
  z-index: 100;
}

/* .nav .acitve {
  color: #262626;
  background-color: #ffffff;
} */



.nav-main img {
  height: 20px;
  margin: -5px;
}

.nav-main i {
  height: 25px;
}

.nav-main a {
  /* color: #2ea3f2; */
  color: #222222;
  /* color: #666666; */
  color: rgb(255, 255, 255, 0.8);
  color: #b2c9f8;
  color: #447ff4;
  text-decoration: none;
  font-weight: bold;
  /* CHEESES, STELL ICH MICH AN.. */
  margin: 10px;
  padding: 0 0 5px;
}

.nav-main a:hover {
  color: #ff4a11;
}

/* ----------------------------------------------------------------------
HEADER
---------------------------------------------------------------------- */

.main-header {
  margin-top: 50px;
  min-height: 100vh;
  color: rgb(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./assets/galaxy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Bruno Ace SC", cursive;
}

/* https://www.youtube.com/watch?v=Tdkuk9uDTfM */
/* .main-header.active {
  background: #ffffff;
  color: #262626;
} */

/* ----------------------------------------------------------------------
PREFACE
---------------------------------------------------------------------- */

/* #Preface {
  .nav-main a {
    color: #0054ff
    background-color: #000000;
  }
} */


.preface {
  background-color: white;
  padding-bottom: 50px;
}


.preface h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1.8em;
  color: #0054ff;
  padding-bottom: 27px;
}

.preface h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4em;
  color: #333;
  padding-bottom: 1em;
  line-height: 2em;
  padding-bottom: 10px;
}

.preface p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  padding-bottom: 1em;
  line-height: 2em;
}

.preface-img {
  margin: 35px;
}

/* .preface-img .animated {

} */
/* ANIMATION PREFACE */
.container-100 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.animated-100 {
  width: 100px;
  height: 100px;
  margin: 35px;
  /* padding: 10px; */
  background-position: right;
  background-size: cover;
  background-image: url(./assets/pre-1.png);
}

.animated-100:nth-child(2) {
  width: 100px;
  height: 100px;
  background-position: left;
  background-size: cover;
  background-image: url(./assets/pre-2.png);
}

.fadeInLeft-100 {
  -webkit-animation: fadeInLeft 1.2s both;
  -moz-animation: fadeInLeft 1.2s both;
  -o-animation: fadeInLeft 1.2s both;
  animation: fadeInLeft 1.2s both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

.fadeInRight-100 {
  -webkit-animation: fadeInRight 1.2s both;
  -moz-animation: fadeInRight 1.2s both;
  -o-animation: fadeInRight 1.2s both;
  animation: fadeInRight 1.2s both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

.preface-flex-parent {
  display: flex;
  min-height: 85vh;
  /* flex-direction: column;
  flex-wrap: wrap; */
  /* SHORTER: */
  /* flex-flow: column wrap; */
}

.preface-flex-child-left {
  width: 50%;
  position: left;
  /* align-items: flex-end; */
  /* justify-content: right; */
}

.preface-flex-child-right {
  width: 50%;
  position: right;
  /* align-items: flex-end; */
  /* justify-content: left; */
}

.preface-a {
  /* position: absolute; */
  margin-left: 70px;
  text-align: center;
  color: #ffffff;
  background-color: #0054ff;
  /* padding-left: 0.7em;
  padding-right: 2em;
  margin-top: 20px; */
  padding: 10px;
  border-width: 14px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.preface-a:hover {
  background-color: #ff4a11;
  ;
}


/* ----------------------------------------------------------------------
PORTFOLIO
---------------------------------------------------------------------- */

#Portfolio {
  background-color: #262626;
}

#Portfolio p {
  color: #ffffff;
}

.portfolio-header {
  margin-bottom: 50px;
}

.wrapper {
  max-width: 50rem;
  /* margin-left: auto;
  margin-right: auto; */
  /* ENTSPRICHT: */
  margin-inline: auto;
  /* padding-inline: 1rem; */
}

.portfolio {
  padding-block: 5rem;
}

.portfolio h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255, 0.8);
  text-align: center;
  font-size: 40px;
  /* font-weight: bold; */
  /* letter-spacing: 0.18 em; */
  /* line-height: 1.4em; */
  /* text-shadow: 0em 0em 0.4em rgba(255, 255, 255, 0.6); */
}

.portfolio h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
  margin: 35px;
}

.portfolio p {
  /* color: rgb(255, 255, 255, 0.8); */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding: 10px;
  margin: 35px;
}

.diagonal {
  --skew-angle: -5deg;
  position: relative;
  isolation: isolate;
  /* background-image: url(./assets/kai-platine.jpg) linear-gradient(45deg, ); */
  /* background-image: url(./assets/kai-platine.jpg); */
  /* background-image: url(./assets/kai-platine.jpg); */
  /* transform: rotate(-5deg); */

}

.diagonal::after {
  content: '';
  /* background-image: url(./assets/kai-platine.jpg); */

  background: linear-gradient(45deg,
      rgba(15, 36, 0, 1) 0%,
      rgba(67, 121, 9, 1) 35%,
      rgba(188, 255, 0, 0.3) 100%);
  opacity: 0.9;
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}


/* ----------------------------------------------------------------------
TESTIMONIALS
---------------------------------------------------------------------- */



/* ----------------------------------------------------------------------
ABOUT
---------------------------------------------------------------------- */

.about-flex-parent {
  display: flex;
  flex-flow: wrap;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  min-height: 85vh;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-content: space-between;
  align-content: center;
  /* SHORTER: */
  /* flex-flow: column wrap; */
}

.about-flex-child {

  width: 50%;
  /* border-radius: 50%; */
  /* align-items: flex-end; */
  /* justify-content: right; */
}

.about-flex-child p {
  margin-top: 100px;
}

/* .about-flex-child-right {
  width: 50%;
  border: 10px solid green;
} */

img {
  /* justify-content: center;
  align-items: center; */
  /* border-radius: 50%;
  max-height: 50%; */
}

.pic {
  border-radius: 50%;
  max-height: 50%;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.button {
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 14px 16px; */
  padding-inline: 50px cursor: pointer;
  border-radius: 8px;
  transition-duration 0.4s;
}

.button1 {
  background-color: #FF4A11;
}

.button1:hover {
  background-color: #E5430F;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* ----------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------- */
.nav-footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: black;
  padding: 10px;
}

.nav-footer a {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  color: white;
}

.nav-footer a:hover {
  color: #ff4a11;
}

/* ---------------------------------------- */
/*                EFFECTS                   */
/* ---------------------------------------- */

/* PARALLAX EFFECT, SOURCE: https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax {
  /* The image used */
  /* background-image: url(../images/galaxy.jpg); */
  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* FADE IN */
.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.animated {
  width: 400px;
  height: 221px;
  background-position: center;
  background-size: cover;
  background-image: url();
}

.animated:nth-child(2) {
  background-image: url();
}

/* FADE IN LEFT */
.fadeInLeft {
  -webkit-animation: fadeInLeft 1.2s both;
  -moz-animation: fadeInLeft 1.2s both;
  -o-animation: fadeInLeft 1.2s both;
  animation: fadeInLeft 1.2s both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

/* FADE IN TOP */
.fadeInTop {
  -webkit-animation: fadeInTop 1.2s both;
  -moz-animation: fadeInTop 1.2s both;
  -o-animation: fadeInTop 1.2s both;
  animation: fadeInTop 1.2s both;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* FADE IN RIGHT */
.fadeInRight {
  -webkit-animation: fadeInRight 1.2s both;
  -moz-animation: fadeInRight 1.2s both;
  -o-animation: fadeInRight 1.2s both;
  animation: fadeInRight 1.2s both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

/* OTHER BROWSERS */
/* @-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

/* ----------STOLEN ----------------------------------- */