body {
    display: grid;
    place-content: center;
    text-align: center;
    font-family: system-ui, serif;
    font-size: 24px;
  }
  
  .value {
    background: lavenderblush;
    border-radius: 20px;
    padding: 0.3em 0.75em;
  }
  
  .window,
  .actual {
    font-family: monospace;
    padding: 0.15em 0.35em;
  }
  
 
  
  .actual {
    background: gold;
  }
  
  .window {
    background: lavenderblush;
    border-bottom: 3px dashed goldenrod;
  }
  
  .highlight {
    background-color: gold;
    border-bottom: 3px dashed goldenrod;
  }
  
  h1 {
    font-weight: 300;
    margin: 0 0 1rem;
  }
  
  .support {
    color: initial;
    background: papayawhip;
    border: 1px solid gold;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: inline-grid;
    place-content: center;
    border-radius: 50%;
    vertical-align: text-top;
    text-decoration: none;
    margin-left: 0.25rem;
  }
  
  .parent {
    font-size: 16px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  
  .line {
    height: 1px;
    width: 100%;
    background-color: lightgray;
  }
  
  .parent p {
    background: #f9f9f9;
    border: 1px solid lightgray;
    padding: 1rem;
  }

  .element {
    background-color: papayawhip;
    height: 200px;
   
    display: grid;
    place-content: center;
    justify-self: center;
    border: 1px solid gold;
    width: min(50%, 400px);
    /* width: max(50%, 400px); */
  

  }