/* ----------------------------------------------------------------------
     BODY
---------------------------------------------------------------------- */
body {
  /* overflow: hidden; */
  overflow: scroll;
  /* z.B. PREFACE: Text sprengt flexbox nicht, einfach runterscrollen */

  /* BOX SIZING: SIEHE https://css-tricks.com/box-sizing/ */
  box-sizing: border-box;
  /* *,
  *:before,
  *:after {
    box-sizing: inherit;
  } */
  /* background-color: rgba(123, 122, 122, 0.5); */
  background-color: rgba(123, 122, 122, 0.8);
  background-color: #262626;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  line-height: 1.5em;

  /* font-family: "Poppins", sans-serif; */

  margin: 20px 50px 20px;
  padding: 20px;
}

h1 {
  line-height: 3.5em;
}

h1, h2, h3 {
  font-weight: bold;
  letter-spacing: 0.18em;
  text-shadow: 0em 0em 0.4em rgba(255, 255, 255, 0.6);
}
 

/* geklaut von W3, hubspot: */


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #ff4a11;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
/* .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .tooltiptext:hover {
  visibility: visible;
}