body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f5f5;
}

.flex-container {
  /* border: 5px solid rgb(64, 251, 2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.flex-container > div {
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-item-1 {
  background-color: purple;
}

.flex-item-2 {
  background-color: rgb(207, 1, 207);
}

.flex-item-3 {
  background-color: blue;
}

.flex-item-4 {
  background-color: green;
}

.flex-item-5 {
  background-color: yellow;
}

.flex-item-6 {
  background-color: orange;
}

.flex-item-7 {
  background-color: red;
}

@media screen and (max-width: 600px) {
  div {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .flex-item-1 {
    width: 100%;
  }
  .flex-item-2 {
    width: 100%;
  }
  .flex-item-3 {
    width: 33.3%;
  }
  .flex-item-4 {
    width: 33.3%;
  }
  .flex-item-5 {
    width: 33.3%;
  }
  .flex-item-6 {
    width: 100%;
  }
  .flex-item-7 {
    width: 100%;
  }
}

@media screen and (min-width: 801px) {
  .flex-item-1 {
    width: 50%;
  }
  .flex-item-2 {
    width: 50%;
  }
  .flex-item-3 {
    width: 33.3%;
  }
  .flex-item-4 {
    width: 33.3%;
  }
  .flex-item-5 {
    width: 33.3%;
  }
  .flex-item-6 {
    width: 50%;
  }
  .flex-item-7 {
    width: 50%;
  }
}
