// $background-cover

// $nav-bg-color: hsl(190, 44%, 33%);


$background-cover: cover;
$nav-bg-color: hsl(190, 44%, 33%);
$text-color: #fff;
$font-family: 'Roboto', sans-serif;

$blue: #032f3e;
$offwhite: #f8f9fd