:root {
  font-size: 10px;
}
html {
  scroll-behavior: smooth;
  /* BOX SIZING: SIEHE https://css-tricks.com/box-sizing/ */
  /* color-scheme: dark light; */
  width: 100vw;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ---------------------------------------------------------------
  colorhunt.co
  --------------------------------------------------------------- */

/* #164B60
  #1B6B93
  #4FC0D0
  #A2FF86 */

body {
  background-color: #164b60;
  color: #1b6b93;
  /* alle Elemente bekommen diese Farbe */
  width: 100vw;
}

h1,
h2 {
  color: #a2ff86;
}
h1 {
  text-align: center;
  font-size: 4em;
}

/* 1. p size */
p {
  font-size: 2.5em;
}

section {
  border: 2px solid red;
  /* padding: 10px; */
  /* nein, kai.. besser: */
  margin: 10px 0;
  width: 100%;
  /* % bezieht sich IMMER AUF PARENT ELEMENT */
  /* min-height: 60vh; */
  height: 60vh;
  /* vertical space between sections */
}

img {
  /* border: 2px solid green; */
  /* border: 20px groove #a2ff86; */
  /* border: 20px outset #a2ff86; */
  border: 2px solid #a2ff86;
  border-radius: 5px;
  /* float: left;
  margin-right: 10px; */
  width: auto;

  /* 2. img size */
  height: 80%;
  margin: 10px;
}

/* semantic name */

.section-left {
  background-image: url(./assets/images/brazil.webp);
}

/* functional name */
.float-left {
  float: left;
  margin-right: 10px;
}

.float-right {
  float: right;
  margin-left: 10px;
}

a {
  font-size: 5em;
  margin: 20px;
  color: blue;
}
