/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
 */

/* @media screen and (max-width:600px){
    body{
        background-color: rgb(149, 149, 212);
        font-size: 15px;
    }
} */

/* AND Operator:  */
/* @media (min-width:500px) and (max-width:600px){
    body{
        background-color: gray;
    }
}  */

/* Or operator */

@media (width: 500px), (width: 600px) {
  body {
    background-color: gray;
  }
}

/* landscape , portrait */
@media (orientation: portrait) {
  body {
    color: blue;
  }
}

/* @media print {
    body{
        background-color: red;
    }
} */

div {
  /* width: 30%; */
  width: 100px;
  height: 100px;
  border: 2px solid;
  margin: 10px;
}

.first {
  background-color: aquamarine;
}
.second {
  background-color: burlywood;
}
.third {
  background-color: chartreuse;
}

/* ab 600px div nebeneinander */
/* @media only screen and (max-width:600px){
    div{
        display: inline-block;
        float: left;
    }
    .first {
        display: none;
        visibility: hidden;
    }
    .second{
        background-color: blue;
    }
} */
/* < 576 px => div das volle Bereite haben
   >=576 px und < 768px divs stehen neben einander
   >= 768px nur den thirs div sehen
*/
@media only screen and (max-width: 576px) {
  div {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  div {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  div {
    display: none;
  }

  .third {
    display: block;
  }
}
